
@import "../../Index";

.section-project{
background-color: $basic-bg-color-2;
  width: 90%;
  display: flex;
  flex-direction: row;
  //gap: 20px;
  gap:  20px;
  flex-wrap: wrap;
  //height: 100vh;
  justify-content: center;
  padding: 50px 20px 200px;

  
  @media (max-width: 575px) {
    flex-direction: column;
    padding: 20px 10px;
    height: 100%;
    gap: 16px;
    width: 100%;
    margin-top: 57px;
  }
}