

@import "../../Index";

.nav-mobile{

  width: 100%;
  position: fixed;
  background: $menu_mobile;
  height: 57px;
  z-index: 1000000000000000000000;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .menu{
    font-size: 20px;
    color: white;

  }
  img{
    width: 10%;
    border-radius: 50%;
    height: auto;

  }
}