@import "../../Index";

.content-details {
  width: 30%;
  position: relative;
  cursor: pointer;
  @media (max-width: 575px) {
    width: 100%;
  }

  .img {
    width: 100%;
    height: auto;
    @media (max-width: 575px) {

      transform: scale(1) !important;
    }
  }

  .content-details-info {
    background-color: $box-bg;
    position: absolute;
    top: 53%;
    z-index: 10;
    padding: 10px;
    width: 100%;
    @media (max-width: 575px) {
      position: static;
      transform: scale(1) !important;
    }

    p {
      color: white;
    }

    .global-des {
      font-size: 15px;
      padding: 10px;
      opacity: 1;
    }

    .content-details-skills {
      display: flex;
      justify-content: center;
      gap: 20px;
      flex-wrap: wrap;

      p {
        border: 1px solid white;
        padding: 10px;
      }
    }
    .style-btn{
      padding: 10px;
      margin: 10px;
      background: $basic_bg-color;
      border: 1px solid white;
      color: white;
      font-size: 20px;
    }
  }


}