
.section-intro {
  position: relative;

  .bg-image {
    width: 100%;
    height: 100vh;
    opacity: .3;
  }

  .content {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
@media (max-width: 575px) {
  padding: 17px;
}
    .global-para {
      max-width: 500px;
      text-align: left;
    }
  }

  .icons {
    margin: 20px 0;
   a{
     color: white;
     text-decoration: none;
     font-weight: bold;
   }
    svg{
      background-color: transparent;
      border: 1px solid white;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      padding: 10px;
      color: white;
      margin: 0 10px;

    }
  }
  .ar{
    direction: rtl;
  }
}